In [1]:
import pickle

In [2]:
import pandas as pd
df = pd.read_csv('../dataSet/일반음식점_점포정보.csv', encoding='cp949')
df.info()

/var/folders/zj/8lw855694yn2gfnq37_2g_vh0000gn/T/ipykernel_58010/760206507.py:2: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../dataSet/일반음식점_점포정보.csv', encoding='cp949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018765 entries, 0 to 2018764
Data columns (total 48 columns):
 #   Column       Dtype
---  ------       -----
 0   번호           int64
 1   개방서비스명       object
 2   개방서비스아이디     object
 3   개방자치단체코드     int64
 4   관리번호         object
 5   인허가일자        int64
 6   인허가취소일자      float64
 7   영업상태구분코드     int64
 8   영업상태명        object
 9   상세영업상태코드     int64
 10  상세영업상태명      object
 11  폐업일자         float64
 12  휴업시작일자       float64
 13  휴업종료일자       float64
 14  재개업일자        float64
 15  소재지전화        object
 16  소재지면적        object
 17  소재지우편번호      float64
 18  소재지전체주소      object
 19  도로명전체주소      object
 20  도로명우편번호      float64
 21  사업장명         object
 22  최종수정시점       object
 23  데이터갱신구분      object
 24  데이터갱신일자      object
 25  업태구분명        object
 26  좌표정보(x)      float64
 27  좌표정보(y)      object
 28  위생업태명        object
 29  남성종사자수       float64
 30  여성종사자수       float64
 31  영업장주변구분명     object
 32  등급구분명        object
 33  급수시설구분명      object
 34  총직원수         float64
 35  본사직원수        float64
 36  공장사무직직원수     float64
 37  공장판매직직원수     float64
 38  공장생산직직원수     float64
 39  건물소유구분명      object
 40  보증액          float64
 41  월세액          object
 42  다중이용업소여부     object
 43  시설총규모        float64
 44  전통업소지정번호     object
 45  전통업소주된음식     object
 46  홈페이지         float64
 47  Unnamed: 47  float64
dtypes: float64(19), int64(5), object(24)
memory usage: 739.3+ MB

In [157]:
code = [3000000,3010000,3020000,3030000,3040000,3050000,3060000,3070000,3080000
        ,3090000,3100000,3110000,3120000,3130000,3140000,3150000,3160000,3170000
        ,3180000,3190000,3200000,3210000,3220000,3230000,3240000]
restaurant = df[['번호','개방자치단체코드','인허가일자','영업상태명','폐업일자','업태구분명','좌표정보(x)','좌표정보(y)']]
restaurant_closing =  restaurant[restaurant['영업상태명'] == '폐업']
restaurant_closing = restaurant_closing.reset_index()

In [158]:
df1 = pd.DataFrame(columns=['번호','개방자치단체코드','인허가일자','영업상태명','폐업일자','업태구분명','좌표정보(x)','좌표정보(y)'])
for i in code:
    temp = restaurant_closing[restaurant_closing['개방자치단체코드'] == i]
    df1 = pd.concat([df1,temp], ignore_index=True)

In [159]:
df2 = pd.DataFrame(columns=['번호','개방자치단체코드','인허가일자','영업상태명','폐업일자','업태구분명','좌표정보(x)','좌표정보(y)'])
restaurant = df1[['번호','개방자치단체코드','인허가일자','영업상태명','폐업일자','업태구분명','좌표정보(x)','좌표정보(y)']]
for i in range(0, len(restaurant)):
    if str(int(restaurant['폐업일자'][i]))[:4] == '2021':
        temp = restaurant[i:i+1]
        df2 = pd.concat([df2,temp], ignore_index=True)

In [160]:
# 결측치 대체
df2['좌표정보(x)'].fillna('정보없음', inplace=True)
df2['좌표정보(y)'].fillna('정보없음', inplace=True)
df2['좌표정보(x)'].isnull().sum(), df2['좌표정보(y)'].isnull().sum()

(0, 0)

In [161]:
# 통계에서 삭제할 업태구분명
delList = ['출장조리', '이동조리', '다방', '식품소분업', '식품등 수입판매업', '룸살롱', '193959.150482967', '키즈카페','업태구분명없음']
for d in delList:
    dl = df2[df2['업태구분명'] == '{}'.format(d)]
    df2.drop(dl.index, inplace=True)
df2['업태구분명'].value_counts()

한식                 5284
기타                 2201
호프/통닭              1218
분식                  995
경양식                 984
일식                  580
중국식                 406
통닭(치킨)              264
까페                  256
정종/대포집/소주방          233
외국음식전문점(인도,태국등)     155
식육(숯불구이)             78
김밥(도시락)              67
횟집                   66
뷔페식                  65
패스트푸드                61
패밀리레스트랑              24
탕류(보신용)              18
감성주점                 18
라이브카페                14
전통찻집                  7
복어취급                  6
냉면집                   4
일반조리판매                1
Name: 업태구분명, dtype: int64

In [162]:
# 업태구분명 변경
seoul = df2
korea = ['식육(숯불구이)', '탕류(보신용)', '복어취급', '냉면집']
desert = ['까페', '전통찻집', '커피숍', '제과점영업']
fast = ['패스트푸드', '김밥(도시락)']
buffet = ['뷔페식']
drink = ['정종/대포집/소주방', '감성주점', '간이주점', '라이브카페']
chinese = ['중국식']
western = ['경양식', '패밀리레스트랑']
chicken = ['통닭(치킨)', '호프/통닭']
etc = ['기타', '외국음식전문점(인도,태국등)', '기타 휴게음식점', '일반조리판매']
japanese = ['일식', '횟집']
snack = ['분식']
business = [korea, desert, fast, buffet, drink, chinese, western, chicken, etc, japanese, snack]

# 변경
for b in business:
    for k in b:
        if b == korea:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '한식'
        if b == desert:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '디저트/카페'
        if b == fast:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '패스트푸드'
        if b == buffet:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '부페'
        if b == drink:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '유흥주점'
        if b == chinese:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '중식'
        if b == western:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '양식'
        if b == chicken:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '닭/오리요리'
        if b == etc:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '기타요리업종'
        if b == japanese:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '일식/수산물'
        if b == snack:
            seoul.loc[seoul['업태구분명'] == '{}'.format(k), '업태구분명'] = '분식'

In [163]:
# 통계에서 삭제할 업태구분명
delList = ['출장조리', '이동조리', '다방', '식품소분업', '식품등 수입판매업', '룸살롱', '193959.150482967', '키즈카페','업태구분명없음']
for d in delList:
    dl = seoul[seoul['업태구분명'] == '{}'.format(d)]
    seoul.drop(dl.index, inplace=True)
seoul['업태구분명'].value_counts()

한식        5390
기타요리업종    2357
닭/오리요리    1482
양식        1008
분식         995
일식/수산물     646
중식         406
유흥주점       265
디저트/카페     263
패스트푸드      128
부페          65
Name: 업태구분명, dtype: int64

In [164]:
# pKl 파일 저장
with open('restaurant_closing.pkl', 'wb') as f:
    pickle.dump(seoul, f, protocol=pickle.HIGHEST_PROTOCOL)