In [12]:
import pandas as pd
import pickle
import numpy as np

### 매출데이터
 -

In [13]:
sale = pd.read_csv('../../dataSet/06_신_상권_추정매출_2021.csv',encoding='cp949')
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140830 entries, 0 to 140829
Data columns (total 80 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년_코드          140830 non-null  int64
 1   기준_분기_코드         140830 non-null  int64
 2   상권_구분_코드         140830 non-null  object
 3   상권_구분_코드_명       140830 non-null  object
 4   상권_코드            140830 non-null  int64
 5   상권_코드_명          140830 non-null  object
 6   서비스_업종_코드        140830 non-null  object
 7   서비스_업종_코드_명      140830 non-null  object
 8   분기당_매출_금액        140830 non-null  int64
 9   분기당_매출_건수        140830 non-null  int64
 10  주중_매출_비율         140830 non-null  int64
 11  주말_매출_비율         140830 non-null  int64
 12  월요일_매출_비율        140830 non-null  int64
 13  화요일_매출_비율        140830 non-null  int64
 14  수요일_매출_비율        140830 non-null  int64
 15  목요일_매출_비율        140830 non-null  int64
 16  금요일_매출_비율        140830 non-null  int64
 17  토요일_매출_비율        140830 non-null  int64
 18  일요일_매출_비율        140830 non-null  int64
 19  시간대_00~06_매출_비율  140830 non-null  int64
 20  시간대_06~11_매출_비율  140830 non-null  int64
 21  시간대_11~14_매출_비율  140830 non-null  int64
 22  시간대_14~17_매출_비율  140830 non-null  int64
 23  시간대_17~21_매출_비율  140830 non-null  int64
 24  시간대_21~24_매출_비율  140830 non-null  int64
 25  남성_매출_비율         140830 non-null  int64
 26  여성_매출_비율         140830 non-null  int64
 27  연령대_10_매출_비율     140830 non-null  int64
 28  연령대_20_매출_비율     140830 non-null  int64
 29  연령대_30_매출_비율     140830 non-null  int64
 30  연령대_40_매출_비율     140830 non-null  int64
 31  연령대_50_매출_비율     140830 non-null  int64
 32  연령대_60_이상_매출_비율  140830 non-null  int64
 33  주중_매출_금액         140830 non-null  int64
 34  주말_매출_금액         140830 non-null  int64
 35  월요일_매출_금액        140830 non-null  int64
 36  화요일_매출_금액        140830 non-null  int64
 37  수요일_매출_금액        140830 non-null  int64
 38  목요일_매출_금액        140830 non-null  int64
 39  금요일_매출_금액        140830 non-null  int64
 40  토요일_매출_금액        140830 non-null  int64
 41  일요일_매출_금액        140830 non-null  int64
 42  시간대_00~06_매출_금액  140830 non-null  int64
 43  시간대_06~11_매출_금액  140830 non-null  int64
 44  시간대_11~14_매출_금액  140830 non-null  int64
 45  시간대_14~17_매출_금액  140830 non-null  int64
 46  시간대_17~21_매출_금액  140830 non-null  int64
 47  시간대_21~24_매출_금액  140830 non-null  int64
 48  남성_매출_금액         140830 non-null  int64
 49  여성_매출_금액         140830 non-null  int64
 50  연령대_10_매출_금액     140830 non-null  int64
 51  연령대_20_매출_금액     140830 non-null  int64
 52  연령대_30_매출_금액     140830 non-null  int64
 53  연령대_40_매출_금액     140830 non-null  int64
 54  연령대_50_매출_금액     140830 non-null  int64
 55  연령대_60_이상_매출_금액  140830 non-null  int64
 56  주중_매출_건수         140830 non-null  int64
 57  주말_매출_건수         140830 non-null  int64
 58  월요일_매출_건수        140830 non-null  int64
 59  화요일_매출_건수        140830 non-null  int64
 60  수요일_매출_건수        140830 non-null  int64
 61  목요일_매출_건수        140830 non-null  int64
 62  금요일_매출_건수        140830 non-null  int64
 63  토요일_매출_건수        140830 non-null  int64
 64  일요일_매출_건수        140830 non-null  int64
 65  시간대_건수~06_매출_건수  140830 non-null  int64
 66  시간대_건수~11_매출_건수  140830 non-null  int64
 67  시간대_건수~14_매출_건수  140830 non-null  int64
 68  시간대_건수~17_매출_건수  140830 non-null  int64
 69  시간대_건수~21_매출_건수  140830 non-null  int64
 70  시간대_건수~24_매출_건수  140830 non-null  int64
 71  남성_매출_건수         140830 non-null  int64
 72  여성_매출_건수         140830 non-null  int64
 73  연령대_10_매출_건수     140830 non-null  int64
 74  연령대_20_매출_건수     140830 non-null  int64
 75  연령대_30_매출_건수     140830 non-null  int64
 76  연령대_40_매출_건수     140830 non-null  int64
 77  연령대_50_매출_건수     140830 non-null  int64
 78  연령대_60_이상_매출_건수  140830 non-null  int64
 79  점포수              140830 non-null  int64
dtypes: int64(75), object(5)
memory usage: 86.0+ MB

In [14]:
'''
한식 : 0
디저트/카페 : 1   
유흥주점 : 2
분식 : 3 
일식/수산물 : 4
양식 : 5
닭/오리요리 : 6
패스트푸드 : 7
중식 : 8
기타요리업종 : 9
부페 : 10
'''

# 업태구분명 변경
korea = ['한식음식점']
desert = ['커피-음료', '제과점']
fast = ['패스트푸드점']
drink = ['호프-간이주점']
chinese = ['중식음식점']
western = ['양식음식점']
chicken = ['치킨전문점']
etc = ['기타', '외국음식전문점(인도,태국등)', '기타 휴게음식점', '일반조리판매']
snack = ['분식전문점']
japanese = ['일식음식점','수산물판매']
business = [korea, desert, fast, drink, chinese, western, chicken, etc, japanese, snack]

# 변경
for b in business:
    for k in b:
        if b == korea:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '한식'
        if b == desert:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '디저트/카페'
        if b == fast:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '패스트푸드'
        if b == drink:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '유흥주점'
        if b == chinese:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '중식'
        if b == western:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '양식'
        if b == chicken:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '닭/오리요리'
        if b == etc:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '기타요리업종'
        if b == japanese:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '일식/수산물'
        if b == snack:
            sale.loc[sale['서비스_업종_코드_명'] == '{}'.format(k), '서비스_업종_코드_명'] = '분식'

In [15]:
# 음식점만 찾기
foodList = ['한식','디저트/카페','패스트푸드','유흥주점','중식','양식','닭/오리요리','기타요리업종','일식/수산물','분식']
sale_total = pd.DataFrame(columns=list(sale.columns))
for k in foodList:
    temp = sale[sale['서비스_업종_코드_명'] == '{}'.format(k)]
    sale_total = pd.concat([temp, sale_total])

In [ ]:
'''
# 다른 버전으로 진행
# 분기 합산 금액
colList = list(sale.columns)[8:10] + list(sale.columns)[33:79]
col = list(sale.columns)[:10] + list(sale.columns)[33:79]
temp2 = pd.DataFrame(columns=list(sale.columns))

total = pd.DataFrame(columns=list(sale.columns))
for i in range(0, len(sale_total)):
    if len(total) == 0:
        temp2 = sale_total.where((sale_total['상권_코드'] == sale_total['상권_코드'][i]) & (sale_total['서비스_업종_코드'] == sale_total['서비스_업종_코드'][i])).dropna()          
        if len(temp2) != 0:
            temp = []
            temp.append(sale_total['기준_년_코드'][i])
            temp.append(2021)
            temp.append(sale_total['상권_구분_코드'][i])
            temp.append(sale_total['상권_구분_코드_명'][i])
            temp.append(sale_total['상권_코드'][i])
            temp.append(sale_total['상권_코드_명'][i])
            temp.append(sale_total['서비스_업종_코드'][i])
            temp.append(sale_total['서비스_업종_코드_명'][i])
            for c in colList:
                temp.append(temp2['{}'.format(c)].sum())
            df = pd.DataFrame([temp], columns=col)
    total = pd.concat([total, df])
    if len(total)-1 != 0 & len(total[total['상권_코드'] == sale_total['상권_코드'][i]]) == 0:
        temp2 = sale_total.where((sale_total['상권_코드'] == sale_total['상권_코드'][i]) & (sale_total['서비스_업종_코드'] == sale_total['서비스_업종_코드'][i])).dropna()            
        if len(temp2) != 0: 
            temp = []
            temp.append(sale_total['기준_년_코드'][i])
            temp.append(2021)
            temp.append(sale_total['상권_구분_코드'][i])
            temp.append(sale_total['상권_구분_코드_명'][i])
            temp.append(sale_total['상권_코드'][i])
            temp.append(sale_total['상권_코드_명'][i])
            temp.append(sale_total['서비스_업종_코드'][i])
            temp.append(sale_total['서비스_업종_코드_명'][i])
            for c in colList:
                temp.append(temp2['{}'.format(c)].sum()) 
            df = pd.DataFrame([temp], columns=col)
    total = pd.concat([total, df])'''

In [17]:
# dong pkl 파일 로드
with open('../temp(dong).pkl', 'rb') as f:
    dong = pickle.load(f)

In [23]:
# dong pkl 파일 로드
with open('../total_sale.pkl', 'rb') as f:
    total_sale = pickle.load(f)

In [344]:
# 쓸모없는 컬럼 삭제
sale_total.drop(['기준_년_코드','상권_구분_코드','상권_구분_코드_명','상권_코드_명','서비스_업종_코드'], axis=1, inplace=True)

In [18]:
'''
중분류 코드 숫자화
한식 : 0
디저트/카페 : 1   
유흥주점 : 2
분식 : 3 
일식/수산물 : 4
양식 : 5
닭/오리요리 : 6
패스트푸드 : 7
중식 : 8
기타요리업종 : 9
부페 : 10
'''

mid_list = list(sale_total['서비스_업종_코드_명'].value_counts().index)
for i in mid_list:
    if i == '한식': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 0
    if i == '디저트/카페': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 1
    if i == '유흥주점': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 2
    if i == '분식': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 3
    if i == '일식/수산물': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 4
    if i == '양식': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 5
    if i == '닭/오리요리': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 6
    if i == '패스트푸드': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 7
    if i == '중식': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 8
    if i == '기타요리업종': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 9
    if i == '부페': 
        sale_total.loc[sale_total['서비스_업종_코드_명'] == i, '서비스_업종_코드_명'] = 10
sale_total['서비스_업종_코드_명'].value_counts().index

Int64Index([1, 0, 2, 3, 6, 8, 4, 7, 5], dtype='int64')

In [19]:
# dong과 상권이 겹치는 것만 산출
col_list = []
row_list = []
total_sale = pd.DataFrame()
for i in range(0, len(dong)): 
    total = dong['locate_new'][i]
    for j in range(0, len(total)):
        if total != 'NaN':
            temp = sale_total[sale_total['상권_코드'] == total[j]]
            total_sale = pd.concat([total_sale, temp], ignore_index=True)

In [20]:
# 분기별 매출 합산 및 각종 컬럼 별 비율 산출
col_list = ['dong_code','code','category','pay','count','week','weekend','man','woman','day','night']
categoryList = list(sale_total['서비스_업종_코드_명'].value_counts().index)
row_list = []
for i in range(0, len(dong)): 
    total = dong['locate_new'][i]
    for j in range(0, len(total)):
        if total != 'NaN':
            df1 = sale_total[sale_total['상권_코드'] == total[j]]
            if len(df1) != 0:
                for k in range(0, len(categoryList)):
                    df2 = df1[df1['서비스_업종_코드_명'] == k]
                    if len(df2) != 0:
                        category = int(df2['서비스_업종_코드_명'][0:1])
                        total_pay = df2['분기당_매출_금액'].sum()
                        total_count = df2['분기당_매출_건수'].sum()
                        # 주중 매출 비율 가중평균
                        temp1 = np.array(df2['주중_매출_비율'])
                        weight1 = np.full_like(temp1, sum(temp1)/len(temp1))
                        week = np.mean(weight1)
                        # 주말 매출 비율 가중 평균
                        temp2 = np.array(df2['주말_매출_비율'])
                        weight2 = np.full_like(temp2, sum(temp2)/len(temp2))
                        weekend = np.mean(weight2)
                        # 남성 매출 비율 가중 평균
                        temp3 = np.array(df2['남성_매출_비율'])
                        weight3 = np.full_like(temp3, sum(temp3)/len(temp3))
                        man = np.mean(weight3)
                        # 여성 매출 비율 가중 평균
                        temp4 = np.array(df2['여성_매출_비율'])
                        weight4 = np.full_like(temp4, sum(temp4)/len(temp4))
                        woman = np.mean(weight4)
                        # 낮타임 매출 비율 가중 평균
                        temp5 = np.array(df2[['시간대_06~11_매출_비율','시간대_11~14_매출_비율','시간대_14~17_매출_비율']])
                        weight5 = np.full_like(temp5, sum(temp5)/len(temp5))
                        day = np.mean(weight5)
                        # 밤타임 매출 비율 가중 평균
                        temp6 = np.array(df2[['시간대_17~21_매출_비율','시간대_21~24_매출_비율','시간대_00~06_매출_비율']])
                        weight6 = np.full_like(temp6, sum(temp6)/len(temp6))
                        night = np.mean(weight6)
                        temp3 = [dong['addr_code'][i],total[j], category, total_pay, total_count, week, weekend, man, woman, day, night]
                        row_list.append(temp3)
total_sale = pd.DataFrame(row_list, columns=col_list)

In [22]:
# 가중평균 매출데이터 pkl
with open('../total_sale.pkl', 'wb') as f:
    pickle.dump(total_sale, f, protocol=pickle.HIGHEST_PROTOCOL)